# stg
AGENT_TOKEN_STG=
SW_APM_COLLECTOR_STG=

# otlp protocol
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT_STG=
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT_STG=
OTEL_EXPORTER_OTLP_HEADERS_STG=
OTEL_SERVICE_NAME=
OTEL_EXPORTER_ENDPOINT=

# local
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT_LOCAL=http://otel-collector-benchmark:4318/v1/metrics
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT_LOCAL=http://otel-collector-benchmark:4318/v1/traces
OTEL_EXPORTER_OTLP_HEADERS_LOCAL=
OTEL_SERVICE_NAME=
OTEL_EXPORTER_ENDPOINT=http://otel-collector-benchmark:4318

JAVA_COLLECTOR=java-collector:12224

# For locust to send metrics data to swo
API_TOKEN=

# For custom metrics name:
CUSTOM_METRICS_NAME=
