# OpenTelemetry dependencies
opentelemetry-api==1.42.1
opentelemetry-sdk==1.42.1
opentelemetry-exporter-otlp==1.42.1
opentelemetry-exporter-otlp-proto-grpc==1.42.1
opentelemetry-exporter-otlp-proto-http==1.42.1
opentelemetry-exporter-otlp-proto-common==1.43.0

# Locust for load testing
locust==2.44.1

# for docker cpu and memory info
requests_unixsocket==0.4.1
# requests_unixsocket2==0.4.2
